
<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Admin Dashboard</h1>
	<p><a href="/admin/post">Create new log</a></p>
	<p><a href="/admin/log-out">Log Out</a></p>
  </body>
</html>
