<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In</h1>
	<form action="/admin/log-in" method='POST'>
		<label>
			<p>Email:</p>
			<input type="email" required>
		</label>
		<label>
			<p>Password:</p>
			<input type="password" required>
		</label>
		<button>Log In</button>
	</form>
  </body>
</html>
