<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/post.css' />
  </head>
  <body>
     <ol class='breadcrumbs-list'>
      <li>
        <a href="/">home</a>
		/
      </li>
      <li>
        <a href="/blog">blog</a>
		/
      </li>
    </ol>

	<article>
		<h1><%= post.title %></h1>
		<%- post.body %>
	</article>
  </body>
</html>
