<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	  <%- include('header.ejs') %>

	<main>

		<section class="hero">
			<div id="my-picture">
				<img src="https://avatars.githubusercontent.com/u/51179753?v=4" alt="eleswastaken github profile picture">
			</div>
			<h1>Hi, I'm Eles.<br>I'm a Software Developer</h1>
		</section>

		<section class="recent">
			
			<h2>Recent Things</h2>

			<p>Here are going to be recent things I am working on.</p>

		</section>

	</main>

	<footer>

	</footer>

  </body>
</html>
