<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is my website.</h1>
	<p>For now there is only my <a href="/blog">blog</a>.</p>
  </body>
</html>
